## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
# /out-tsc/ Because this is typescript, it needs a JS to be output to be used elsewhere

storybook-static
custom-elements.json

.vercel
